.cabecalho {
    padding: 80px;
    background-color: #ff9966 ;
    text-align: center;
    font-size: 30px;
    text-shadow: 4px 4px 4px black;
}

.secao1 {
    padding: 200px;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
   background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Mario_Series_Logo.svg/800px-Mario_Series_Logo.svg.png);
    
    
}


.secao2{
background-image: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/portals_3/2x1_SuperMarioHub_image1600w.jpg);
background-repeat:no-repeat ;
background-size: cover;
background-position: center;
padding: 200px;
}

.div-pai{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 20px;
    
}


.div1{
width: 280px;
height: 250px;
background-color:yellow ;
box-shadow: 4px 4px 4px black;
}

.div2{
width: 280px;
height:250px;
background-color: plum;
box-shadow: 4px 4px 4px black;
}

.div3{
    width: 280px;
    height: 250px;
    background-color:blue ;
    box-shadow: 4px 4px 4px black;
}



    .rodape{
        background-color: blue;
        padding: 80px;
        font-size: 25px;
        color: white;
    }